# utilities
streamlit
numpy
pandas

# Face recognition
scikit-learn
dlib-bin # a Python library that provides machine learning algorithms and tools for data analysis and modeling. It includes a wide range of algorithms for classification, regression, clustering, and dimensionality reduction, as well as tools for model selection and evaluation. It is commonly used in applications such as face recognition, image classification, and natural language processing.

git+https://github.com/ageitgey/face_recognition_models.git
setuptools

supabase
bcrypt # a library for hashing passwords securely. It provides functions for hashing and verifying passwords using the bcrypt algorithm, which is designed to be computationally expensive to prevent brute-force attacks. It is commonly used in applications that require user authentication and password management.

segno # a Python library for generating QR codes. It provides a simple interface for creating QR codes with various customization options, such as size, color, and error correction level. It is commonly used for applications such as encoding URLs, contact information, and other data in a scannable format.
pillow # a Python Imaging Library (PIL) fork that provides image processing capabilities. It allows you to create, manipulate, and save images in various formats. It is commonly used for tasks such as image resizing, cropping, filtering, and drawing.

librosa # a Python library for analyzing and processing audio signals. It provides functions for loading audio files, extracting features, and performing various audio processing tasks. It is commonly used in applications such as music information retrieval, speech recognition, and audio classification.
soundfile # a Python library for reading and writing audio files. It supports a wide range of audio formats and provides a simple interface for working with audio data. It is commonly used in applications such as audio processing, music analysis, and speech recognition.
resemblyzer # creates embeddings from audio, which can be used for speaker recognition and verification tasks. It is based on deep learning models and provides a simple interface for generating embeddings from audio files.
setuptools
